body {
 
}

hr {
    margin: 2rem auto;
}

.home {
}

.site-masthead h1 {
}


.paywall {
    background: rgb(209,17,73);
    background: radial-gradient(circle, rgba(209,17,73,0.5144651610644257) 0%, rgba(241,113,5,0.32679009103641454) 60%);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.paywall button {
    background: #d11149;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 0.6rem;
}

p {
    margin: 1rem;
}
